.alert{
    display: inline-flex;
    padding: 20px;
   width: 100%;
    color: white;
    margin-bottom: 15px;
}


.error-alert{
    background-color: #f44336;
}

.success-alert{
    background-color: #23e733;
}